/*Installation des 2 polices spéciales*/
@font-face {
    font-family: 'Angella';
    src: url('../fonts/angella-white-font/AngellaWhitePersonalUseFont-ywA8e.otf');
}
@font-face {
    font-family: 'Garet';
    src: url("../fonts/garet.book.otf"),
        url("../fonts/garet.book.ttf");
}
/*Margin 0 sur tous les éléments*/
*{
    margin: 0;
}
body{
    position: relative;
    font-family: 'Garet';
    background-color: #f8cbc6;
}
h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: white;
}
h4{
    font-size: 20px;
    font-weight: normal; 
}
.marginRight10{
    margin-right: 10px;
}
.backGroundFleur{
    background-color: white;
    background-image: url("../img/banniere.png");
    background-repeat: no-repeat;
}
    /*----------------------------Barre de navigation-----------------*/
    nav{
        display: none;
        height: 90vh;
        transition: 1s;
        position: relative;
        flex-direction: column;
    }
    nav p{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: fadeIn 1s;
        font-weight: bold;
    }
    nav a{
        padding: 15px;
    }
    nav a:hover{
        transform: scale(1.1);
    }
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
/*Titre*/
.conteneurName{
    z-index: 2000;
    width: 100%;
    display: flex;
    justify-content: center;
}
.name{
    color: white;
    font-family: 'Angella';
    font-size: 80px;
}
    /*-------------------------Bloc menu--------------------*/
    .divMenu{
        position: absolute;
        top: 30px;
        left: 100px;
        z-index: 2001;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .menu{
        position: relative;
        width: 27px;
        height: 4px;
        border-radius: 5px;
        background-color: white;
        transition: 0.2s ease-in-out;
    }
    .menu::before, .menu::after{
        position: absolute;
        content: '';
        width: 27px;
        height: 4px;
        border-radius: 5px;
        background-color: white;
        transition: 0.5s ease-in-out;
    }
    .menu::after{
        transform: translateY(10px);
    }
    .menu::before{
        transform: translateY(-10px);
    }
    .divMenu.ouverture .menu{
        background: transparent;
    }
    .divMenu.ouverture .menu::after{
        top: 0;
        transform: rotateZ(45deg);
    }
    .divMenu.ouverture .menu::before{
        bottom: 0;
        transform: rotateZ(-45deg);
    }
/*-----------------------Footer------------------*/
footer{
    display: flex;
    flex-direction: column;
    gap: 30px;    
    padding: 15px 20px;
}
.banniereReseaux{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 30px;
    color: white;
}
.banniereCGV{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*---------------------------Responsive---------------------*/
@media screen  and (max-width:400px) {
    .name{
        font-size:40px;
    }
    .divMenu{
        top: 5px;
        left: 5px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
}



.divTexte{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divTexte p{
    margin: 10px;
    width: 80%;
}
.banniere{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.portrait img{
    height: 450px;
}
    /*--------------------Banniere qui je suis-----------------*/
    .quiJeSuis{
        padding: 80px 0;
    }
/*-----------------------Bannière lieu---------------*/
.lieu{
    color: white;
    padding: 80px 0;
}
.conteneurCarrousel{
    height: 450px;
    width: 400px;
    overflow: hidden;
}
.carrousel{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    transition: 2s ease;
}
.tailleImg{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
    /*----------------------------Bannière valeurs-------------------*/
    .titreValeurs{
        text-align: center;
        padding-top: 20px;
    }
    .wrapReverse{
        flex-wrap: wrap-reverse;
    }
/*--------------------------Responsive------------------*/
@media screen  and (max-width:400px){
    .divTexte p{
        width: 90%;
    }
    .divTexte{
        width: 100%;
    }
    .portrait img{
        display: none;
    }
    .conteneurCarrousel{
        display: none;
    }
}


/*--------------Barre de navigation----------*/
nav{
    justify-content:center;
}
    /*-----------------Partie titre--------------*/
 /*   .conteneurName{
        position: absolute;
    }
    .name{
        margin-top: 5px;
    }*/
/*----------------Carrousel------------------*/
header{
    position: relative;
    color: white;
}
.conteneurNew{
    display: flex;
    justify-content: center;
}
.conteneurNew h2{
    position: absolute;
    z-index: 101;
    margin-top: 20%;
    font-size: 40px;
}
.conteneurNew button{
    position: absolute;
    z-index: 102;
    margin-top: 29%;
    background-color: #f8cbc6;
    border: 0;
    width: 180px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}
.conteneurNew button:hover{
    transform: scale(1.06);
}
.tailleImg{
    object-fit: cover;
}
.carrousel{
    /*min-width: 100%;*/
    height: 95vh;
    display: flex;
    transition: 2s ease;
}
.conteneur{
    overflow: hidden;
    /*min-width: 100%;
    height: 95vh;*/
}
    /*-------------Banniere présentation-----------*/
    .prez h4{
        padding-left: 2%;
        padding-top: 2%;
        color: white;
    }
    .banniereCitation{
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banniereCitation p{
        width: 90%;
        font-style: italic;
        color: white;
    }
/*----------Banniere catégories---------*/
.decouvrir h4{
    margin-left: 10%;
    padding-top: 5%;
}
.categories{
    height: 60vh;
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
}
.categories div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: black;
    gap: 15px;
}
.imgCategorie{
    width: 350px;
    height: 250px;
    object-fit: cover;
}
    /*-----------------Bannière picto----------------*/
    .bannierePicto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 40px;
    }
    .bannierePicto img{
        width: 100px;
        height: 100px;
    }
    .bannierePicto div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .bannierePicto label{
        color: white;
        font-size: 20px;
    }
/*----------------------Responsive------------------*/
@media screen  and (max-width:400px) {
    .conteneurNew h2{
        font-size: 20px;
        margin-top: 200px;
    }
    .conteneurNew button{
        margin-top: 250px;
    }
    .banniereCitation{
        height: 100%;
        font-size: 15px;
    }
    .categories{
        height: 100%;
    }
    .imgCategorie{
        width: 250px;
    }
    .bannierePicto img{
        width: 50px;
        height: 50px;
    }
    .bannierePicto{
        flex-direction: column;
    }
}